body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 20px;
}

.left, .right {
  flex: 1;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 8px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.message {
  background: #facc15;
  padding: 10px;
  margin-bottom: 15px;
  display: none;
  color: black;
  border-radius: 5px;
}
